.tumble {
    align-items: center;
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
        'prev slide next'
        'page page page';
    grid-template-columns: 100px 1fr 100px;
    overflow: hidden;
    position: relative;

    button {
        cursor: pointer;
    }

    &__slide {
        grid-area: slide;
        opacity: 0;
        position: relative;

        &--active {
            opacity: 1;
            z-index: 1;
        }
    }

    &__controls {
        &--prev {
            grid-area: prev;
        }

        &--next {
            grid-area: next;
        }
    }

    &__pagination {
        align-self: end;
        display: grid;
        grid-area: page;
        grid-auto-columns: fit-content( 100% );
        grid-auto-flow: column;
        grid-gap: 0.25em;
        list-style: none;
        justify-self: center;
        padding: 0;
        margin: 0;

        button {
            background-color: #FACADE;
            border: 0;
            border-radius: 50%;
            height: 1em;
            padding: 0;
            transition: background-color 250ms ease-in-out;
            width: 1em;

            &:hover {
                background-color: #CAB;
            }
        }

        &--active {
            button {
                background-color: #DECADE;
            }
        }
    }
}
